#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-height: 60vh;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--dark-bg);
  color: var(--light-text);
}

.title {
  font-family: var(--header-font);
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 800;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: 200;
}
