.description {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.description-text {
    
}

.description-img {
    
}

.description-img img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .description {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
}