#nav {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(4rem,10vw,5rem);
    transition: top 0.6s;
}

#nav a h2{
    color: var(--light-text);
    font-weight: 200;
    font-size: clamp(1rem,3vw,1.5rem);
}
