#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: clamp(4rem, 10vw, 5rem);
  transition: top 0.3s;
}

#nav::after {
  background-color: var(--light-text);
  bottom: 0;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 90%;
}

#nav a span {
  color: var(--light-text);
  font-weight: 200;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

/* @media screen and (min-width: 1024px) {
  #nav {
    background-color: transparent;
  }
} */
